@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;300;500;700;900&family=Grandstander:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-size: 1.1rem;
  font-family: Grandstander;
  box-sizing: border-box;
  color: rgb(44, 44, 46);
}

body {
  margin: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button {
  cursor: pointer;
}

/*------------------ header --------------------*/
header {
  width: 98vw;
  display: flex;
  padding: 1.3vw 2vw;
  justify-content: space-between;
  align-items: center;
  border: solid;
  border-radius: 5px;
}
#title {
  font-size: 1.7rem;
}
#setting-button {
  color: rgb(28, 28, 30);
}

/*-------------- encrypt decrypt button -------------------*/
#toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  margin-bottom: 1.5vh;
  border-radius: 5px;
}
.toggle {
  border: 0;
  padding: 1.5vw 1vw;
}
#encrypt-button {
  border: solid 2px rgb(142, 142, 147);
  border-right: 1px;
  background-color: rgb(10, 132, 255);
  color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  opacity: 0.8;
}
#encrypt-button:hover {
  opacity: 1;
}
#decrypt-button {
  border: solid 2px rgb(142, 142, 147);
  border-left: 1px;
  background-color: rgb(255, 55, 95);
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: 0.8;
}
#decrypt-button:hover {
  opacity: 1;
}

/*--------------------- main boxes -------------------------*/
#main-box {
  width: 98vw;
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#input-box {
  width: 98%;
  height: 45%;
  border: solid 2px rgb(28, 28, 30);
  border-radius: 5px;
  font-family: Commissioner;
}
.arrow {
  margin: 2vh;
}
#output-box {
  width: 98%;
  height: 45%;
  border: solid 2px rgb(28, 28, 30);
  border-radius: 5px;
  font-family: Commissioner;
}

/*--------------------- footer -------------------------*/
footer {
  margin-top: 1vh;
  width: 98vw;
  display: flex;
  align-items: center;
}
footer,
footer div,
footer div a {
  font-size: 0.7rem;
}
